        <div class="main-content">
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <li>
                <i class="icon-home home-icon"></i>
                <a href="{:U('Manager_Detail/Index/index')}">后台</a>
              </li>

              <li>
                <a href="{:U('Manager_Detail/Active/index')}">活动项</a>
              </li>
              <li class="active">查看活动</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>

          <div class="page-content">
            <div class="page-header">
              <h1>活动</h1>
            </div><!-- /.page-header -->
            <table class="table table-bordered table-striped">
              <thead class="thin-border-bottom">
                <tr>
                  <th>
                    <i class="ace-icon fa fa-caret-right blue"></i>活动名
                  </th>
                  <th>
                    <i class="ace-icon fa fa-caret-right blue"></i>时间
                  </th>
                  <th class="hidden-480">
                    <i class="ace-icon fa fa-caret-right blue"></i>操作
                  </th>
                </tr>
              </thead>
              <tbody>
              <foreach name="activities" item="activity" >
                <tr>
                  <td>{$activity.pname}</td>

                  <td>
                    <span class="red">{$activity.pendtime}</span>
                  </td>

                  <td class="hidden-480">
                    <a href="/Manager_Detail/Active/del?pid={$activity.pid}">删除</a>
                  </td>
                </tr>
              </foreach>
              </tbody>
            </table>
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
