<div class="bs-docs-featurette">
		<div class="container">
			<h2 class="bs-docs-featurette-title">{$msg.pname}</h2>
			<p class="lead">{$msg.pdes|htmlspecialchars_decode}</p>
			<hr class="half-rule">
			<div class="row">
				<div class="col-sm-4">
					<img src="__PUBLIC__/pic/project1/{$msg.pimg1}" alt="Sass and Less support" class="img-responsive">
					<h3>{$msg.ptitle1}</h3>
					<p>{$msg.pdescribe1}</p>
				</div>
				<div class="col-sm-4">
					<img src="__PUBLIC__/pic/project1/{$msg.pimg2}" alt="Responsive across devices" class="img-responsive">
					<h3>{$msg.ptitle2}</h3>
					<p>{$msg.pdescribe2}</p>
				</div>
				<div class="col-sm-4">
					<img src="__PUBLIC__/pic/project1/{$msg.pimg3}" alt="Components" class="img-responsive">
					<h3>{$msg.ptitle3}</h3>
					<p>{$msg.pdescribe3}</p>
				</div>
			</div>
			<hr class="half-rule">
			<p class="lead">如果你有意愿，参与我们，报名参加吧！</p>
			<a href="{:U('Home/Msg/vote')}?pid={$pid}" class="btn btn-outline btn-lg">我要报名</a>
		</div>
	</div>