<main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
	<div class="container">
		<img class="bs-docs-booticon bs-docs-booticon-lg" style="background-color: rgba(255,255,255,0);" src="__PUBLIC__/icon-144.png" alt="logo" />
		<p class="lead">由LimonPlayer Studio开发的报名管理系统是以最受欢迎的Bootstrap框架为基础，用于大学、企业中、小型活动报名统计的 WEB 项目。</p>
		<p class="lead">
			<a href="https://github.com/Lanseria/mm" class="btn btn-outline-inverse btn-lg">下载 LDemo</a>
		</p>
		<p class="version">当前版本： v1.0.2 | 文档更新于：2016-03-18</p>
	</div>
</main>

<div class="bs-docs-featurette">
	<div class="container">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th class="text-center">项目名称</th>
						<th class="text-center">细节</th>
						<th class="text-center">创建时间</th>
						<th class="text-center">报名人数</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="msglist" item="msg" >
						<tr>
							<td>{$msg.pid}</td>
							<td><a href="{:U('/Home/Msg/join')}?pid={$msg.pid}">{$msg.pname}</a></td>
							<td>{$msg.pdes|htmlspecialchars_decode}</td>
							<td>{$msg.pcreatetime}</td>
							<td>{$msg.penroll}人</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
	</div>
</div>