<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="#">首页</a>
      </li>
      <li class="active">控制台</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="icon-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- #nav-search -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        控制台
        <small>
          <i class="icon-double-angle-right"></i>
          查看
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-block alert-success">
          <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
          </button>

          <i class="icon-ok green"></i>

          欢迎使用
          <strong class="green">
            Ace后台管理系统
            <small>(v1.2)</small>
          </strong>
          ,轻量级好用的后台管理系统模版.  
        </div>
        <div class="row">
          <label class="h2">关于</label>
          <hr/>
          <ul class="list-unstyled">
            <li>项目基于PHP5.6</li>
            <li>基本配置
              <ul>
                <li>Apache2.4</li>
                <li>MySql</li>
                <li>Windows &lt; Sublime 3 Zend Studio </li>
                <li>Navcat for Mysql</li>
              </ul>
            </li>
            <li>感谢thinkphp的MVC扩展</li>
            <li>采用bootstrap框架</li>
            <li>作者:Lanseria</li>
          </ul>
        </div>
        <div class="hr hr32 hr-dotted"></div>

        <div class="hr hr32 hr-dotted"></div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->

