<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="__PUBLIC__/favicon.ico">
	<title>后台--管理员中心</title>
	<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/dashboard.css" rel="stylesheet">
	<link href="__PUBLIC__/css/patch.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<nav class="navbar navbar-fixed-top bs-docs-nav">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/Manager/Index/index.html">后台</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{:U('Home/Msg/index')}">前台</a></li>
					<li><a href="{:U('Manager_Detail/Index/index')}"> Dashboard Admin Beta 1.0</a></li>
					<present name="Think.session.logineduser">
						<li><a>欢迎您,{$Think.session.logineduser}!</a></li>
						<li><a href="{:U('Manager/User/logout')}">退出</a></li>
						<else />
						<li><a href="{:U('Manager/User/login')}">登录</a></li>
					</present>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="{$oac}"><a href="{:U('Manager/Index/index')}">Overview</a></li>
					<li class="{$eac}"><a href="{:U('Manager/Index/export')}">Export</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li class="{$aac}"><a href="{:U('Manager/Index/add')}">Add</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li class="{$abac}"><a href="{:U('Manager/Index/about')}">关于</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{__CONTENT__}
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	var rowCount = 1;  //行数默认1行
	var content = new Array("性别","年龄","学院班级信息","学号","个人简历","电话")
	var Econtent = new Array("gender","age","college","number","detail","tel")
	function addSRow(n){
		var newSelect='<div class="alert alert-info alert-dismissible form-group" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>'+content[n-1]+'</strong> 在你的项目中添加'+content[n-1]+'<input type="hidden" class="form-control" id="name'+(n+1)+'" name="name'+(n+1)+'" value="'+Econtent[n-1]+'">';
		$('#f1').append(newSelect);  
	}
	$(document).ready(function(){
		for (var i = 0; i < content.length; i++) {
			$('#select').append('<li><a href="#" onclick="addSRow('+(i+1)+')">'+content[i]+'</a></li>');
		}
	});
	function changeid(page, Id) {
		$('#sub').attr('href','/Manager/Index/'+page+'.html?sid='+Id); 
		$('#subd').attr('href','/Manager/Index/download.html?pid='+Id); 
	}
</script>
</body>
</html>
