<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
	<form role="form" action="" method="post" class="inline-block" enctype="multipart/form-data" >
		<div id="f1">
			<div class="form-group">
				<label class="h2">活动名字</label>
				<input type="text" class="form-control" id="exampleAname" name="pname" placeholder="Project Name...">
				<textarea class="form-control" rows="6" placeholder="描述主题内容" name="pdes"></textarea>
			</div>
			<div class="form-group">
				<hr/>
			</div>
			<div class="form-group">
				<label class="h3">添加你要的信息</label>
				<div class="dropdown">
					<a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>选择添加</a>
						<ul class="dropdown-menu" aria-labelledby="dLabel" id="select">
						</ul>
					</div>
				</div>
				<div class="alert alert-info alert-dismissible form-group" role="alert">
					<strong>姓名</strong> 在你的项目中添加姓名
					<input type="hidden" class="form-control" id="name1" name="name1" value="name">
				</div>
			</div>
			<div class="form-group">
				<hr/>
			</div>
			<div class="form-group">
				<label class="h3">添加活动信息</label>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title"><input type="text" name="title1" style="border-style:none;" placeholder="描述主题"></input><small>-----空白处输入你的文字</small></h3>
					</div>
					<div class="panel-body row">
						<textarea class="form-control" rows="6" name="pdes1" placeholder="描述主题内容" style="border-radius: 0;
						resize:none;
						background-attachment:fixed;
						background-repeat:no-repeat;
						border-style:none; "></textarea>
					</div>
					<div class="panel-footer">
						<input type="file" class="btn btn-default" name="photo[]"></input>
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title"><input type="text" name="title2" style="border-style:none;" placeholder="描述主题"></input><small>-----空白处输入你的文字</small></h3>
					</div>
					<div class="panel-body row">
						<textarea class="form-control" rows="6" name="pdes2" placeholder="描述主题内容" style="border-radius: 0;
						resize:none;
						background-attachment:fixed;
						background-repeat:no-repeat;
						border-style:none; "></textarea>
					</div>
					<div class="panel-footer">
						<input type="file" class="btn btn-default" name="photo[]"></input>
					</div>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title"><input type="text" name="title3" style="border-style:none;" placeholder="描述主题"></input><small>-----空白处输入你的文字</small></h3>
					</div>
					<div class="panel-body row">
						<textarea class="form-control" rows="6" name="pdes3" placeholder="描述主题内容" style="border-radius: 0;
						resize:none;
						background-attachment:fixed;
						background-repeat:no-repeat;
						border-style:none; "></textarea>
					</div>
					<div class="panel-footer">
						<input type="file" class="btn btn-default" name="photo[]"></input>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-default">提交活动</button>
		</form>
	</div>